
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h2 class="panel-title">All listed trips</h2>
          </div>
          <div class="col-md-2">
            <%= link_to 'New Trip', new_trip_path, class: 'btn btn-xs btn-success' %>
          </div>
        </div>
        
      </div>
      <div class="panel-body">
        <%= render 'trip', obj: @trips %>
      </div>
    </div>
  </div>
</div>
