<div class="jumbotron">
<h1>Welcome to travel portal</h1>
<p>Keep track of your business trips with travel portal</p>
<p><%= link_to 'Sign up', trips_path, class: 'btn btn-lg btn-success'%></p>
</div>

